

.copy_right_footer
{
  position: fixed;
  line-height: 4;
  color:black;
  background-color:cornflowerblue ;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-style: italic;
  font-weight: bolder;
  font-size: medium;
}
canvas
{
  border: 5px solid white;
  box-shadow: 5px 5px 5px grey;
  border-radius: 20px;
  
}
.note
{
    font: 25px;
    color: red;
}
h2{
  margin:20px;
}
#name_2{
  background-color: blue;
  color:white;
  height:10px;
  width: 30px;
  border-radius: 20px;
}
#name{
  border-radius: 20px;
}